.header-wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 190px;
  background: #fff;
  padding: 3rem 7rem;
  border-bottom: 1px solid rgba(23, 16, 16, 0.1);
  box-shadow: 4px 2px 10px rgba(23, 16, 16, 0.2);
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      span {
        display: none;
      }
    }
    nav {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      a {
        margin-right: 10rem;
        padding: 1rem;
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: 0.2px;
        color: var(--default-color);
        text-decoration: none;
        &:hover,
        &:focus {
          color: var(--primary-color);
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 190px;
  height: 620px;
  background: transparent url("../../assets/images/bg-banner@2x.png") center
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(23, 16, 16, 0.6);
  }
  section {
    position: relative;
    z-index: 1;
    width: 80%;
    // max-width: 768px;
    text-align: center;
    h2 {
      font-size: 5.8rem;
      line-height: 8rem;
      color: #fff;
      letter-spacing: 0.2px;
    }
    span {
      display: block;
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: 0.1px;
    }
    em {
      display: block;
      font-size: 2.4rem;
      font-weight: 100;
      font-style: normal;
      line-height: 3.8rem;
      color: #f6f6f6;
    }
  }
}

.btn {
  display: inline-block;
  width: 236px;
  height: 68px;
  padding: 16px 0px;
  margin: 0 10px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.1px;
  border-radius: var(--rounded-md);
  text-decoration: none;
}
.btn-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.hero {
  position: relative;
  margin-bottom: 560px;
  img {
    position: absolute;
    left: 50%;
    margin-left: -424px;
    top: -300px;
  }
}

.how-to {
  max-width: 768px;
  margin: 0 auto;
  h3 {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    border-top: 3px solid #e4e4e4;
    text-align: center;
  }
  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    h4 {
      font-weight: 700;
      font-size: 4rem;
      line-height: 5.7rem;
      letter-spacing: 0.2px;
      span {
        display: block;
        margin-bottom: 10px;
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: 0.1px;
        color: var(--primary-color);
      }
    }
    p {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 3.8rem;
      color: var(--secondary-color);
    }
    figure {
      max-width: 300px;
      img {
        position: relative;
        left: -200px;
      }
    }
    article {
      // max-width: 576px;
    }
    &.reverse {
      figure {
        img {
          left: 0;
          right: -200px;
        }
      }
    }
  }
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 510px;
  background: transparent url("../../assets/images/bg-download@2x.png") top
    center no-repeat;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(23, 16, 16, 0.6);
  }
  section {
    position: relative;
    z-index: 1;
    width: 80%;
    // max-width: 768px;
    text-align: center;
    h2 {
      font-size: 5.8rem;
      line-height: 8rem;
      color: #fff;
      letter-spacing: 0.2px;
    }
    em {
      display: block;
      font-size: 2.4rem;
      font-weight: 100;
      font-style: normal;
      line-height: 3.8rem;
      color: #f6f6f6;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  margin: 0 auto;
  .copyright,
  .motto {
    font-size: 1.2rem;
  }
  .motto {
    margin-top: 15px;
  }
  .social-media {
    a {
      font-size: 4rem;
      margin: 0 10px;
      text-decoration: none;
      color: var(--primary-color);
    }
  }
}
