// FONTS STARTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
@import "fontello";
// FONTS ENDS

:root {
  --default-color: #252b42;
  --primary-color: #fa4a0c;
  --secondary-color: #737373;
  // --secondary-color: #f6f6f6;
  --rounded-md: 30px;
}
html {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.4%;
  color: var(--default-color);
}

strong {
  font-weight: 600;
}

h3 {
  font-size: 4.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.1px;
  font-weight: 600;
}
