$color-orange: #ffac81;
$color-pink: #ff928b;
$color-appricot: #fec3a6;
$color-isabelline: #f8edeb;
$color-yellow: #efe9ae;
$color-green: #cdeac0;
$color-black: rgb(0, 0, 0);
$color-white: #fff;

$font-1: "Lobster Two", cursive;
$font-2: "Sawarabi Mincho", sans-serif;

$fontsize-1: 50px;
$fontsize-2: 35px;
$fontsize-2-3: 28px;
$fontsize-3: 20px;
$fontsize-3-4: 18px;
$fontsize-4: 15px;
$fontsize-5: 13px;

.\? {
  box-shadow: inset 4px 4px rgb(236, 15, 170), inset -4px -4px rgb(236, 15, 170);
}

* {
  margin: 0;
  padding: 0;
}

@mixin linkStyle {
  text-decoration: none;
  color: $color-black;
}

@mixin flexraw {
  display: flex;
  flex-direction: row;
}
@mixin flexcolCenter {
  @include flexraw;
  align-items: center;
}
@mixin flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%fullSpace {
  width: 100%;
  height: 100%;
}

%titleh1 {
  font-family: $font-1;
  font-size: $fontsize-1;
  text-align: center;
  padding-bottom: 2rem;
}

%button-major {
  height: 3rem;
  width: 20rem;
  font-family: $font-2;
  font-size: $fontsize-2;
  background-color: $color-pink;
  border: none;
  border-radius: 1rem;
}
