@use "base" as *;

.navbar {
  z-index: 15;
  background-color: $color-yellow;
  height: 5rem;
  position: relative;
  width: 100%;
  @media (max-width: 500px) {
    height: 7rem;
  }
  @include flexraw;
  justify-content: space-between;
  position: sticky;
  top: 0;

  &-title {
    font-family: $font-1;
    position: absolute;
    top: 0;
    left: 40%;

    @media (min-width: 769px) and (max-width: 1200px) {
      left: 35%;
    }
    @media (min-width: 501px) and (max-width: 768px) {
      left: 30%;
    }
    @media (max-width: 500px) {
      text-align: center;
      position: static;
      height: 60%;
    }

    a {
      @include linkStyle;
      font-size: $fontsize-1;
      @media (max-width: 500px) {
        font-size: $fontsize-2;
      }
    }
  }

  &-navigation {
    height: 100%;
    width: 50%;
    padding: 0 2rem;
    @media (max-width: 500px) {
      height: 40%;
      background-color: $color-white;
    }

    .nav-list {
      @include flexraw;
      justify-content: flex-start;
      align-content: center;
      height: 100%;

      &-item {
        list-style: none;
        padding-right: 1rem;
        @include flexcolCenter;
      }
      &-link {
        @include linkStyle;
        font-size: $fontsize-3;
        font-family: $font-2;
      }
    }
  }

  &-cart {
    position: relative;
    width: 50%;
    padding: 0 2rem;
    @include flexcolCenter;
    justify-content: end;
  }
}

.cart {
  width: 28%;
  display: none;
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 15;
  &-box {
    background-color: $color-white;
    padding: 10px;
    border: 1px solid #eee;
    // opacity: 0.8;
    // transition: all 0.3s;
    // ------------------- cart Header
    &-header {
      position: relative;
      h1 {
        font-size: $fontsize-2-3;
        font-family: $font-1;
        text-align: center;
        width: auto;
      }
      .close-cart {
        position: absolute;
        top: 0;
        right: 0;
      }
      ion-icon {
        font-size: 25px;
        padding: 0.5rem;
      }
    }

    // ------------------- cart Item
    &-item {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr auto;
      grid-column: 1.5rem;
      gap: 0.4rem;
      margin: 1.5rem 0;
      padding: 0.3rem;

      &-img {
        width: 75px;
        height: 75px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      &-contain {
        font-family: $font-2;
        h4 {
          font-size: $fontsize-3;
        }
        h5 {
          font-size: $fontsize-3-4;
        }
      }
      &-remove {
        .remove-item {
          background: silver;
          color: gray;
          display: inline-block;
          padding: 2px 4px;
          cursor: pointer;
          &:hover,
          &:focus {
            background: coral;
            color: white;
          }
        }
      }
    }
    // ------------------- cart Total
    &-total {
      text-align: center;
      h2 {
        padding: 1rem 0;
        font-family: $font-1;
      }
    }
  }
}

.hero {
  background-color: $color-isabelline;
  //   height: 110vh;
  padding-top: 2rem;
  padding-bottom: 3rem;

  &-box {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 3rem;
    padding: 2rem;
    background-color: $color-appricot;
    &-gallery {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;

      @media (min-width: 501px) and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
      }
      @media (max-width: 500px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
      }

      &-image:first-child {
        grid-column: 1/2;
        grid-row: span 2;

        @media (min-width: 501px) and (max-width: 768px) {
          grid-column: 1/3;
          grid-row: span 1;
        }
        @media (max-width: 500px) {
          grid-column: 1/3;
          grid-row: span 1.5;
        }
      }

      &-image {
        img {
          width: 100%;

          object-fit: cover;
          overflow: hidden;
        }
        &-show {
          display: none;
        }
      }
    }
    &-comment {
      p {
        width: 80%;
        margin: 0 auto;
        font-size: $fontsize-2;
        font-family: $font-2;
        text-align: center;
        @media (min-width: 501px) and (max-width: 768px) {
          width: 95%;
          padding-top: 1rem;
          font-size: $fontsize-2-3;
        }
        @media (max-width: 500px) {
          width: 95%;
          padding-top: 1rem;
          font-size: $fontsize-3;
        }
      }
      &-btn {
        padding: 2rem 0;
        @include flexraw;
        justify-content: space-around;
      }
    }
  }
}

.feature {
  font-family: $font-2;
  padding: 4rem 1rem;
  @media (max-width: 500px) {
    padding: 2rem 0.5rem;
  }
  &-top {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    @media (max-width: 500px) {
      width: 90%;
    }
    h2 {
      font-size: $fontsize-2;
      padding-bottom: 2rem;
      @media (max-width: 500px) {
        font-size: $fontsize-2-3;
        padding-bottom: 1rem;
      }
    }
    p {
      font-size: $fontsize-3;
      @media (max-width: 500px) {
        font-size: $fontsize-4;
      }
    }
  }
  &-bottom {
    @include flexraw;
    justify-content: space-between;
    @media (max-width: 500px) {
      flex-direction: column;
    }
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
    &-box {
      width: 30%;
      @media (max-width: 500px) {
        width: 100%;
        padding-bottom: 1rem;
      }
    }
    h3 {
      font-size: $fontsize-3;
      padding-bottom: 2rem;
      @media (max-width: 500px) {
        font-size: $fontsize-3-4;
        padding-bottom: 1rem;
      }
    }
    p {
      font-size: $fontsize-4;
      @media (max-width: 500px) {
        font-size: $fontsize-5;
      }
    }
  }
}
.menu {
  background-color: $color-green;
  width: 100%;

  @include flexraw;
  flex-wrap: wrap;

  &-imgbox {
    width: 100%;
    @include flexraw;
    flex-wrap: wrap;
    .card {
      width: 33.3333%;
      position: relative;
      overflow: hidden;

      @media (min-width: 501px) and (max-width: 768px) {
        width: 50%;
      }
      @media (max-width: 500px) {
        width: 50%;
      }

      &-overlay {
        position: absolute;
        top: 30%;
        width: 100%;
        z-index: 10;

        @include flexcol;
        color: $color-white;
        text-shadow: 0.3rem 0.3rem 1rem $color-black;
        &-heading {
          font-family: $font-1;
          font-size: $fontsize-1;
          @media (min-width: 769px) and (max-width: 1200px) {
            font-size: $fontsize-2;
          }
          @media (min-width: 501px) and (max-width: 768px) {
            font-size: $fontsize-2;
          }
          @media (max-width: 500px) {
            font-size: 25px;
            text-align: center;
          }
        }
        &-paragraph {
          font-family: $font-2;
          font-size: $fontsize-3;
          @media (max-width: 500px) {
            font-size: $fontsize-4;
          }
        }
        &:hover {
          // opacity: 0.4;
        }
      }

      img {
        @extend %fullSpace;

        width: 100%;
        margin: 0 auto;
        overflow: hidden;

        transition: 1s all;

        &:hover {
          transform: scale(1.3);
          background: linear-gradient(
            rgba(255, 255, 255, 0.575),
            rgba(255, 255, 255, 0.575)
          );
          opacity: 0.8;
        }
      }

      &-showlater {
        display: none;

        @media (min-width: 501px) and (max-width: 768px) {
          display: block;
        }
        @media (max-width: 500px) {
          display: block;
        }
      }
    }
  }
}

.infosns {
  width: 100%;
  @include flexraw;
  @media (min-width: 501px) and (max-width: 768px) {
    flex-direction: column;
  }
  @media (max-width: 500px) {
    flex-direction: column;
  }

  &-accesscontact {
    width: 60%;
    padding: 1rem;

    @media (min-width: 501px) and (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
    h1 {
      @extend %titleh1;
      @media (max-width: 500px) {
        font-size: $fontsize-2;
      }
    }
    &-box {
      @include flexraw;
      justify-content: space-between;

      @media (min-width: 769px) and (max-width: 1200px) {
        flex-direction: column;
      }

      &-map {
        @media (max-width: 500px) {
          display: none;
        }
      }
      &-contact {
        width: 40%;
        font-family: $font-2;
        font-size: $fontsize-3;
        padding-top: 1rem;
        @media (min-width: 501px) and (max-width: 768px) {
          font-size: $fontsize-4;
        }
        @media (max-width: 500px) {
          font-size: $fontsize-3-4;
          width: 100%;
        }

        tr th {
          text-align: start;
        }

        @media (min-width: 769px) and (max-width: 1200px) {
          width: 100%;

          tr th {
            .openhours {
              @include flexraw;
              div {
                padding-right: 1rem;
              }
            }
          }
        }
        @media (max-width: 500px) {
          width: 100%;

          tr th {
            .openhours {
              @include flexraw;
              div {
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
  &-followus {
    width: 45%;
    padding: 1rem;

    @media (min-width: 501px) and (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }

    h1 {
      @extend %titleh1;
      @media (max-width: 500px) {
        font-size: $fontsize-2;
      }
    }
    &-img {
      width: 100%;

      text-align: center;

      @media (min-width: 501px) and (max-width: 768px) {
        @include flexraw;
      }
      @media (max-width: 500px) {
        @include flexraw;
      }

      img {
        width: 20rem;
        padding-bottom: 2rem;
        @media (min-width: 501px) and (max-width: 768px) {
          width: 60%;
        }
        @media (max-width: 500px) {
          width: 60%;
        }
      }
      p {
        font-family: $font-2;
        font-size: $fontsize-3;
        @include flexraw;
        justify-content: center;
        align-items: center;

        ion-icon {
          font-size: 40px;
        }
        @media (min-width: 501px) and (max-width: 768px) {
          width: 40%;
        }
        @media (max-width: 500px) {
          width: 40%;
        }
      }
    }
  }
}
.footer {
  background-color: $color-yellow;
  width: 100%;
  height: 7rem;
  @include flexraw;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: 501px) and (max-width: 768px) {
    height: 8rem;
  }

  &-title {
    font-family: $font-1;
    width: 30%;
    @media (min-width: 501px) and (max-width: 768px) {
      width: 40%;
      height: 80%;
      @include flexcolCenter;
    }
    @media (max-width: 500px) {
      text-align: center;
      position: static;
      height: 60%;
      width: 50%;
    }

    top: 0;
    left: 40%;

    a {
      @include linkStyle;
      font-size: $fontsize-1;
      @media (min-width: 501px) and (max-width: 768px) {
        font-size: $fontsize-2;
      }
      @media (max-width: 500px) {
        font-size: $fontsize-2-3;
      }
    }
  }
  &-navigation {
    width: 30%;

    height: 100%;
    padding: 0 2rem;
    @media (min-width: 501px) and (max-width: 768px) {
      width: 40%;
      height: 80%;
    }
    @media (max-width: 500px) {
      height: 60%;
      width: 30%;
    }

    .footer-list {
      @include flexraw;
      justify-content: flex-start;
      align-content: center;
      height: 100%;

      &-item {
        list-style: none;
        padding-right: 1rem;
        @include flexcolCenter;
      }
      &-link {
        @include linkStyle;
        font-size: $fontsize-3;
        font-family: $font-2;
        @media (max-width: 500px) {
          font-size: $fontsize-4;
        }
      }
    }
  }
  &-copyright {
    width: 30%;
    font-family: $font-2;
    font-size: $fontsize-4;
    text-align: end;
    @media (min-width: 501px) and (max-width: 768px) {
      width: 100%;
      text-align: end;
      padding-right: 3rem;
    }
    @media (max-width: 500px) {
      width: 100%;
      height: 30%;
      text-align: center;
    }
  }
}
